<div class="container show_quizz">
  <h1> <%= @quizz.title  %> </h1>
  <p class="description"> <%= @quizz.description %> </p>
  <p class="difficulty"> <%= @quizz.difficulty %> </p>
  <%= form_for @answer do |f| %>
    <% @questions.each do |question| %>
    <div class="question">
      <h1><%= question.title %> </h1>
        <% question.answers.each do |answer| %>
          <div class="answer">
            <% "true" ? answer.status == true : answer.status == false %>
            <%= radio_button_tag answer.title, answer.status %>
            <%= answer.title %></br>
          </div>
        <% end %>
    </div>
    <%= f.hidden_field :quizz, value: @quizz.title %>
    <% end %>
  <%= f.submit 'Finish Quizz', class: 'button' %>
  <% end %>
</div>
